/*.swiper-button-next,*/
/*.swiper-button-prev {*/
/*   background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    background-position: center;*/
/*    top: 80%;*/
/*}*/
/*.swiper-button-next {*/
/*    background-image: url("../assets/img/slideNext.svg");*/
/*}*/
/*.swiper-button-prev {*/
/*    background-image: url("../assets/img/slidePrev.svg");*/
/*}*/

/*.swiper-button-next::after,*/
/*.swiper-button-prev::after {*/
/*    display: none;*/
/*}*/

.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.2)!important;
    border-radius: 2px!important;
    transform: rotate(-45deg)!important;
    width: 12px!important;
    height: 12px!important;
    margin: 8px!important;
}
@media screen and (max-width: 1440px) {
    .swiper-pagination {
        left: -90px!important;
        bottom: 27px!important;
    }
}
@media screen and (max-width: 1280px) {
    .swiper-pagination {
        left: 0!important;
    }
}
@media screen and (max-width: 1024px) {
    .swiper-pagination {
        left: 0!important;
        bottom: 25px!important;
    }
}
@media screen and (max-width: 768px) {
    .swiper-pagination {
        left: 0!important;
    }
}
@media screen and (max-width: 376px) {
    .swiper-pagination {
        left: -15px!important;
    }
}

.swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255)!important;
}

.swiper-pagination {
    order: 1 !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
}
    .swiper{
        padding-bottom: 60px!important;
    }


